@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.std-data-input {
    @apply .shadow .appearance-none .border .rounded .text-gray-700 .leading-tight
}

.std-data-input:focus {
    @apply .outline-none .shadow-outline
}

body {
    @apply .bg-gray-100
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.print-only{
    display: none;
}

@media print {
    .no-print {
        display: none;
    }
    .print-only {
        display: block;
    }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */


